.recipe-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
.recipe-list input{
    background-color: grey;
    height: 17px;
    width: 160px;
    border-radius: 7px;
    border: solid 1px black;
    text-indent: 5%;
}
.recipe-list ::placeholder{
    color: black;
    font-family: SF-Pro-Rounded-Thin;
}