.add-recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFE0FF;
}
.add-recipe h1{
    font-family: SF-Pro-Display-Light;
    text-align: center;
}
.add-recipe input{
    height: 2rem;
    width: 25rem;
    margin: 5px;
    border: none;
    border-radius: 6px;
    background-color: #ffceff;
    font-family: SF-Pro-Display-Medium;
    text-align: center;
}
.add-recipe ::placeholder{
    color: rgb(0, 0, 0);
}
.add-recipe button{
    width: 9rem;
    padding: 0.5rem 1rem;
    font-family: SF-Pro-Rounded-Thin;
    font-size: 1rem;
    color: #fff;
    background-color: #ffceff;
    border: solid 2px #000000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* .add-recipe button:hover{
    background-color: #000000;
    border-color: 2px solid #ffffff;
    transition: all 0.3s ease;
} */
.receita-porcao{
    display: flex;
    flex-direction: row;
}
.receita_2{
    display: flex;
    flex-direction: column;
}
.porcao_2{
    display: flex;
    flex-direction: column;
}

.modopreparo{
    resize: none;
    width: 25%;
    border-radius: 8px;
    text-align: justify;
}
.add-recipe h4{
    font-family: "SF-Compact-Display-Bold";
}