.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
    cursor: ;
}

.footer p{
    font-family: SF-Pro-Display-Medium;
}
