.Minhas-Receitas{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #FFE0FF;
}
.Minhas-Receitas h1{
    font-family: "NewYorkExtraLarge-Medium";
    color: rgb(255, 27, 236);
}