.navlink{
    display: flex;
    justify-content: center;
    width: calc(100% - 2px);
    background-color: #FFA8D9;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    gap: 80px;
}
.navlink a{
    color: black;
    font-size: 21px;
    font-family: "SF-Pro-Display-Medium";
    text-decoration-line: none;
}