.navlink{
    display: flex;
    justify-content: center;
    width: calc(100% - 2px);
    background-color: darkgoldenrod;
    border: solid 1px black;
    border-radius: 5px;
    gap: 80px;
}
.navlink a{
    color: black;
    font-size: 21px;
    font-family: "SF-Pro-Display-Medium";
    text-decoration-line: none;
}