@font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url(./assets/appleFonts/SF-Compact-Rounded-Medium.otf);
}
@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(./assets/appleFonts/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: "SF-Pro-Display-Medium";
    src: url(./assets/appleFonts/SF-Pro-Display-Medium.otf);
}
@font-face {
    font-family: "SF-Pro-Rounded-Light";
    src: url(./assets/appleFonts/SF-Pro-Rounded-Light.otf);
}
@font-face {
    font-family: "SF-Pro-Rounded-Thin";
    src: url(./assets/appleFonts/SF-Pro-Rounded-Regular.otf);
}
@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: url(./assets/appleFonts/SF-Pro-Display-Regular.otf);
}
@font-face {
    font-family: "SF-Mono-Heavy";
    src: url(./assets/appleFonts/SF-Mono-Heavy.otf);
}

* div{
    display: flexbox;
    flex-direction: column;
}